body {
  margin: 0;
  font-family: Roboto, Monaco, Consolas, "Courier New";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 992px) {
  footer {
    padding: 12px 20px !important;
    font-size: 12px !important;
  }
}
@media (max-width: 768px) {
  footer {
    padding: 10px 20px !important;
    font-size: 10px !important;
  }
}
@media (max-width: 576px) {
  footer {
    display: none;
  }
}
